body {
    font-family: 'Montserrat', sans-serif;
    background: #F5F7FA;
}

.wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    width: 1200px;
    margin: 0 auto;
    background: #FFF;
    box-shadow: 6px 6px 20px 0px rgba(0, 0, 0, 0.10);
}

aside {
    width: 370px;
    background: #1E2939;
}

.cv-photo {
    margin: 25px 0px 0px 0px;
}

.header-secondary {
    color: #FFF;
}

.contact-links {
    color: #FFF;
    font-size: 14px;
line-height: 24px;
}

.bold {
    color: #FFF;
font-weight: 700;
}
.list-secondary {
    color: #FB6D3A;
    margin-left: 0;
    font-size: 14px;
line-height: 24px;
padding-left: 0;
list-style-position: inside;
}
.list-secondary-item {
    color: #FFF;
    
}
.contact-block {
    margin-top: 51px; 
    margin-left: 40px;
}
.tech-skills-block {
    margin-top: 47px;
    margin-left: 40px;

}

.soft-skills-block {
    margin-top: 47px;
    margin-left: 40px;
}
main {
    padding: 102px 88px 102px 88px
}
.main-description { 
    width: 529px;
}
.job-title {
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
}
h1 {
    font-size: 45px;
    font-weight: 700;
    line-height: 55px;
}
.description {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 40px;
    text-align: justify;
}
.projects {
    width: 485px;
}
.list-primary {
    color: #000;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    padding-left: 0;
    list-style-position: inside;
}

.list-primary-item {
    color: #595959;
font-size: 14px;
font-weight: 400;
line-height: 24px;
text-decoration: none;
}

.projects-block {
margin-bottom: 51px;
}

.exp-block-second {
    margin-top: 16px;
    margin-bottom: 16px;
}
.exp-one {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
}
.orange {
    color: #FB6D3A;
}
.data {
    color: #A8A8A8;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
}
.paragraph {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    padding-left: 20px;
    width: 509px;
    text-align:justify;
}
.education-block {
    margin-top: 43px;
    
}
.management {
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    margin-bottom: 12px;
}
.orange-university {
    color: #FB6D3A;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 12px;
}
.degree {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    margin-bottom: 12px
}